body {
    margin: 0;
    background: #f1f5f9;
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #0f172a;
    color: white;
    position: fixed;
}

    .sidebar h4 {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #1e293b;
    }

    .sidebar a {
        display: block;
        padding: 12px 20px;
        color: #cbd5f5;
        text-decoration: none;
        transition: 0.3s;
    }

        .sidebar a:hover {
            background: #1e293b;
            color: white;
            padding-left: 25px;
        }

.main {
    margin-left: 250px;
    padding: 20px;
}

.topbar {
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.card-box {
    border-radius: 15px;
    padding: 20px;
    color: white;
}

.bg-blue {
    background: #3b82f6;
}

.bg-green {
    background: #22c55e;
}

.bg-orange {
    background: #f59e0b;
}

.bg-red {
    background: #ef4444;
}
